Source: metno-fetch-vaa
Maintainer: Helen Korsmo <helen.korsmo@met.no>
Section: python
Priority: optional
Build-Depends: python,python-qt4,debhelper (>= 9.0.0)
Standards-Version: 3.9.2

Package: metno-fetch-vaa
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, metno-vaa-kml (>= 0.3.0-2), python-qt4
Description: Tool for fetching Volcanic Ash Advisory messages from a Web site.

